.App {
   text-align: center;
}
.entry{
   background-color: grey;
   border: solid red;
   justify-content: right;
   padding: 15px;
}
input{
   padding: 8px;
}

.bus{
   background-color: yellow;
}

.todas{
   display: flex;
   flex-flow: row wrap;
   justify-content: space-around;
   
  
}

.individual{
   border: 5px solid rgb(255, 255, 255);
   margin: 8px;
   background-color: rgb(183, 183, 183);
}

.cerrar{
   background-color: red;
}


body{
   background-image: url(https://media.istockphoto.com/id/178149253/es/foto/espacio-profundo-de-fondo.jpg?s=612x612&w=0&k=20&c=6xWIbkk18IrLShPj1AyUSfjy4EznbIoHs6lEn6Le2o8=);
}

